# Build directory
temp/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Static libraries
*.lai
*.la

*.raw
*.rgb
*.bgr
*.h264
*.264
*.yuyv
*.uyvy
*.yvyu
*.vyuy
*.i420
*.yuv
*.jpg
*.avi
*.pts
*.ppm
*.mkv
