# Compiled Object files
*.slo
*.lo
*.o

# Other binaries
*.bmp
*.jpg
*.jpeg
*.class
*.swp
firepicam
firefuse
fpc
uv4l

# Compiled Dynamic libraries
a.out
*.so
*.swo

# Compiled Static libraries
*.lai
*.la
*.a

# Special
CMakeFiles
CMakeCache.txt
Makefile
*.cmake
firepistill
FirePiCam.h
install_manifest.txt

